<h1>Listing posts</h1>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h3><%= link_to post.title, post.link %></h3>
      <p><%= post.vote_count %> </p>
      <p><%= post.description %></p>
      <p><%= "by #{post.user.name}" %></p>
      <p><%= link_to "up", upvote_post_path(post) %> </p>
      <p><%= link_to "down", downvote_post_path(post) %> </p>
    </div>
  <% end %>

</div>

<br />

<%= link_to 'New Post', new_post_path %>
